.header {
  min-height: 70vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: url("../../public/images/header_background.jpg") center center;
  background-size: cover;

  .profile-image {
    height: 200px;
    width: 200px;
    border: 1px solid;
    border-radius: 50%;
    background-color: white;
    margin: 1rem;
  }

  .header-content {
    font-size: 2.5rem;
    color: white;
  }
}

.about-me-container {
  width: 80%;
  margin: 0 auto;
  .about-me {
    min-height: 50vh;
  }
}

.latest-trips-container {
  .latest-trips-carousel {
    .carousel {
      .carousel-inner .carousel-item {
        height: 500px;
      }
    }
  }
}

.trips-container {
  position: relative;
  .trips {
    .card {
      overflow: hidden;
      .card-image {
        transition: all 0.4s ease-in-out;
        min-height: 250px;
        background: url("https://via.placeholder.com/150") center center;
        background-size: cover;
      }
      &:hover .card-image {
        transform: rotate(2deg) scale(1.1);
      }
    }
  }
}

.trips-container::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 100px;
  background-color: #212529;
  transform: skewY(5deg);
  z-index: -1;
}

.planned-trips-container {
  margin-top: 220px;

  .planned-trips {
    .img-bubble {
      height: 150px;
      width: 150px;
      border: 1px solid;
      border-radius: 50%;
    }
  }
}
