
.login-alert {
    animation: loginAlertAnimation;
    animation-duration: .4s;
    animation-fill-mode: forwards;
    position: fixed;
    top: 50px;
    width: 100%;
}

@keyframes loginAlertAnimation {
    from {
        top: -200px;
    } to {
        top: 50px;
    }
}

#admin-form-container {
    min-height: 100vh;

    #admin-form {
        width: 100%;
        @media(min-width: 768px) {
            width: 35%;
        }
    }
}