#template_1-container {
  #header-content-title {
    text-align: center;
    padding: 1.5rem;
    position: relative;
    top: 75px;
    @media (min-width: 1200px) {
      display: inline-block;
    }
  }
  .header {
    min-height: 50vh;
  }

  .row {
    min-height: 500px;
  }

  .image {
    min-height: 500px;
  }

  .summary-container {
    .summary {
      position: relative;
      top: -20px;
      z-index: -1;
    }
  }
}
