#template_1-container {
  .header {
    min-height: 50vh;
    #header-content-title {
      text-align: center;
      padding: 1.5rem;
      @media (min-width: 1200px) {
        display: inline;
      }
    }
  }

  .row {
    min-height: 500px;
  }

  .image {
    min-height: 500px;
  }

  .summary-container {
    .summary {
      position: relative;
      top: -20px;
      z-index: -1;
    }
  }
}
